.title {
  text-decoration:underline;
  text-align: center;
}

.welcome {
  color: #FEC8D8;
}

.projects {
  color: #D291BC;
}

.about {
  color: #D291BC;
}

.hobbies {
  color: #D291BC;
}

.webpage {
  margin: auto;
  border: 5px solid #D291BC;
  padding: 5px;
  background-color: #FEC8D8;
  width: 50%;
  border-width: 30px;
  margin-top: 20px;
  display: block;
  box-sizing:border-box
}

.img {
  border: 20px solid #FEC8D8;
  max-width: 100%;
  height: 200px;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width; 50%;
}

.box {
  margin: auto;
  border: 5px solid #D291BC;
  padding: 5px;
  background-color: #FEC8D8;
  width: 50%;
  border-width: 30px;
  border-style: solid;
}

.hobby {
  margin: auto;
  border: 5px solid #D291BC;
  padding: 5px;
  background-color:#FEC8D8;
  width: 50%;
  border-width: 20px;
  border-style: solid;
  box-sixing: border-box
}

.page {
  text-align: center;
}



